extends baseEmail

block content
  p Hi #{firstName},
  p Forgot Password? No Problem!
  p Reset your password by submitting new password(Valid only for 10 mins).
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p Please ignore this email, if you did not request a password reset.
  p - Tours Team.